<<<<<<< HEAD
=======
.geral{
    text-align: center;
    color: rgb(78, 33, 109);
    padding: 10px;
}
>>>>>>> 709ad94472e6bc20578e556dc3538a9f1a6a3d9c

img{
    max-width: 21%; 
}

.comp{
    height: 100%;
}