.tudo{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    min-height: 77vh;

    h1{
        text-align: center;
        color: rgb(55, 13, 84);
    }

    label{
        font-size: 20px;
        color: rgb(32, 1, 70);
        padding: 20px;
    }

    select{
        padding: 10px;
    }

    .delete{
        padding: 20px;
        & :hover{
            background-color:  white;
            border: solid 2px red;
            color:  red ;
        }
    }
    button{
        padding: 20px;
        color: white;
        background-color: rgb(70, 31, 161);
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 9px;
        border: solid black 2px;
    }
}


form{
    width: 50%;
    justify-content: center;

    fieldset{
        padding: 15px;
        border: dotted rgb(144, 109, 172) 3px;

        legend{
            font-size: 20px;
            color: rgb(82, 28, 135);
        }

        label{
            font-size: 18px;
            display: inline-block;
            width: 30%; 
            text-align: left;
            margin-right: 10px; 
            color: rgb(43, 0, 96);
        }

        input{
            display: inline-block;
            padding: 7px;
            width: 68%;
            background-color: rgba(70, 21, 130, 0.493);
            color: white;
            border-radius: 5px;
            border: solid black 2px;
        }

        input::placeholder{
            color: white
        }

        button{
            padding: 10px;
            background-color: rgb(98, 65, 145);
            color: white;
            border: solid rgb(0, 0, 0) 3px;
            border-radius: 5px;
        }
    }
}